.swipere {
  width: 490px;
  max-height: 500px;
  overflow: hidden;
}
.inner {
  padding: 80px 0 120px 0;
  background: var(--Snow);
}
.inner__text {
  text-align: center;
  font-size: 46px;
  line-height: 130%;
  color: var(--DimGtey);
}
.inner__grup {
  margin: 60px 0 170px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner__wrapp {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}
.inner__info {
  width: 65%;
}
.inner__caption {
  font-size: 46px;
  line-height: 130%;
  color: var(--DimGtey);
}
.inner__avatar {
  margin: 60px 0 24px 0;
}
.inner__desc {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 160%;
  color: var(--Gray);
}
.inner__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner__slogan {
  font-size: 16px;
  line-height: 160%;
  color: var(--Gray);
}
.inner__items {
  font-size: 14px;
  line-height: 150%;
  color: var(--DarkGray);
}
.inner__carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inner__btn-prev {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  svg {
    display: block;
    width: 24px;
    height: 24px;
    color: inherit;
    fill: currentColor;
    object-fit: cover;
  }
}
.inner__btn-prev:hover {
  color: var(--White);
  background-color: var(--Primapy);
}

.inner__btn-next {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--Primapy);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  svg {
    display: block;
    width: 24px;
    height: 24px;
    color: inherit;
    color: var(--White);
    fill: currentColor;
    object-fit: cover;
  }
}

@media (max-width: 950px) {
  .inner {
    padding: 60px 0 100px 0;

    &__grup {
      display: grid;
      grid-template-columns: 1fr 1fr 150px;
      margin: 50px 0 70px 0;
    }

    &__caption {
      font-size: 38px;
    }
    &__avatar {
      margin: 40px 0 24px 0;
    }
    &__desc {
      font-size: 15px;
    }
  }
}
@media (max-width: 800px) {
  .inner {
    padding: 40px 0 80px 0;
  }
  .inner__text {
    font-size: 32px;
  }
  .inner__wrapp {
    display: grid;
    grid-template-columns: 1fr;
  }
  .inner__info {
    width: 100%;
  }
  .inner__caption {
    font-size: 30px;
  }
  .inner__avatar {
    margin: 30px 0 24px 0;
  }
  .inner__desc {
    font-size: 14px;
  }
  .inner__list {
    margin-bottom: 20px;
  }
  .swipere {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .inner {
    padding: 30px 0 45px 0;
  }
  .inner__text {
    font-size: 28px;
  }
  .inner__grup {
    display: grid;
    grid-template-columns: 1fr 120px;
    margin: 30px 0 30px 0;
  }
  .inner__img3 {
    margin-left: 13px;
  }
  .inner__caption {
    font-size: 26px;
  }
}
