.paginat {
  margin: 120px 0 180px 0;
  &__tekxt {
    margin-bottom: 60px;
    text-align: center;
    font-size: 46px;
    line-height: 130%;
    color: var(--DimGtey);
  }
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 48px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__text {
    margin: 20px 0;
    text-align: center;
    font-size: 14px;
    line-height: 150%;
    color: var(--DimGtey);
  }
}
@media (max-width: 920px) {
  .paginat {
    margin: 90px 0 110px 0;
    &__tekxt {
      font-size: 40px;
    }
  }
}
@media (max-width: 800px) {
  .paginat {
    margin: 60px 0 80px 0;
    &__tekxt {
      margin-bottom: 40px;
      font-size: 30px;
    }
    &__box {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media (max-width: 500px) {
  .paginat {
    margin: 30px 0 40px 0;
    &__tekxt {
      margin-bottom: 30px;
      font-size: 25px;
    }
    &__box {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &__item {
      width: 100%;
    }
    &__text {
      font-size: 11px;
    }
  }
}
