.video {
  margin: 93px 0 174px 0;
  text-align: center;
  &__dist {
    font-size: 46px;
    line-height: 130%;
    color: var(--DimGtey);
  }
  &__text {
    margin: 24px 0 54px;
    font-size: 18px;
    line-height: 150%;
    color: var(--DarkGray);
  }
}
@media (max-width: 860px) {
  .video {
    margin: 60px 0 90px 0;
    &__dist {
      font-size: 36px;
    }
    &__text {
        margin: 17px 0 44px;
    }
  }
}
@media (max-width: 524px) {
  .video {
    margin: 30px 0 50px 0;
    &__dist {
      font-size: 30px;
    }
    &__text {
      font-size: 14px;
    }
  }
}
